Application
{
   backgroundColor: #cccccc;
   backgroundGradientColors: #bdcbd2, #5a8398;
}

Button
{
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors: #5f89b9, #697182, #ffffff, #eeeeee;
}

.closeBtnMac {
	upSkin:        Embed('../mac/closeBtn.gif');
	overSkin:      Embed('../mac/closeBtn.gif');
	downSkin:      Embed('../mac/closeBtn.gif');
	disabledSkin:  Embed('../mac/closeBtn.gif');
}
.increaseBtnMac {
	upSkin:        Embed('../mac/maxRestoreBtn.gif');
	overSkin:      Embed('../mac/maxRestoreBtn.gif');
	downSkin:      Embed('../mac/maxRestoreBtn.gif');
	disabledSkin:  Embed('../mac/maxRestoreBtn.gif');
}
.decreaseBtnMac {
	upSkin:        Embed('../mac/maxRestoreBtn.gif');
	overSkin:      Embed('../mac/maxRestoreBtn.gif');
	downSkin:      Embed('../mac/maxRestoreBtn.gif');
	disabledSkin:  Embed('../mac/maxRestoreBtn.gif');
}
.minimizeBtnMac {
	upSkin:        Embed('../mac/minimizeBtn.gif');
	overSkin:      Embed('../mac/minimizeBtn.gif');
	downSkin:      Embed('../mac/minimizeBtn.gif');
	disabledSkin:  Embed('../mac/minimizeBtn.gif');
}