/* CSS file */
.padded {
	paddingBottom: 30;
	paddingLeft: 30;
	paddingRight: 30;
	paddingTop: 30;	
}
		
Application, Text {
	color: #FFFFFF;
}
		
VRule {
	strokeWidth: 1;
	strokeColor: #FFFFFF;	
}

.mdiWindowNoFocus
{
	headerHeight: 26;
	roundedBottomCorners: true;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessLeft: 3;
	borderThicknessRight: 3;
	borderAlpha: .8;
	titleStyleName: "mypanelTitle";
	background-alpha: .8;
	background-color: #BBBBBB;
}

.mdiWindowFocus
{
	headerHeight: 26;
	roundedBottomCorners: true;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessLeft: 3;
	borderThicknessRight: 3;
	borderAlpha: 1;
	titleStyleName: "mypanelTitle";
	background-color: #FFFFFF;
}

.mypanelTitle {
	fontFamily: Arial;
	fontSize: 10;
	fontWeight: bold;
	color: #000000;
}

.closeBtn {
	upSkin:        Embed('/assets/img/closeButton.png');
	overSkin:      Embed('/assets/img/closeButton.png');
	downSkin:      Embed('/assets/img/closeButton.png');
	disabledSkin:  Embed('/assets/img/closeButton.png');
}
.increaseBtn {
	upSkin:        Embed('/assets/img/increaseButton.png');
	overSkin:      Embed('/assets/img/increaseButton.png');
	downSkin:      Embed('/assets/img/increaseButton.png');
	disabledSkin:  Embed('/assets/img/increaseButton.png');
}
.decreaseBtn {
	upSkin:        Embed('/assets/img/decreaseButton.png');
	overSkin:      Embed('/assets/img/decreaseButton.png');
	downSkin:      Embed('/assets/img/decreaseButton.png');
	disabledSkin:  Embed('/assets/img/decreaseButton.png');
}
.minimizeBtn {
	upSkin:        Embed('/assets/img/minimizeButton.png');
	overSkin:      Embed('/assets/img/minimizeButton.png');
	downSkin:      Embed('/assets/img/minimizeButton.png');
	disabledSkin:  Embed('/assets/img/minimizeButton.png');
}
.resizeHndlr {
	upSkin:        Embed('/assets/img/resizeHandler.png');
	overSkin:      Embed('/assets/img/resizeHandler.png');
	downSkin:      Embed('/assets/img/resizeHandler.png');
	disabledSkin:  Embed('/assets/img/resizeHandler.png');
}